name: live-upper-build

on:
  push:
    paths:
      - ".github/workflows/live-upper-build.yml"
      - "upper/**"
  workflow_dispatch: # manual

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: go version
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - run: go version
      - run: |
          ls
          go build
          go test
          ls
          ./upper foo the bar
        working-directory: ./upper
        name: build and test
