# https://github.com/marketplace/actions/code-butler-for-pr-review

name: openai Code butler

# permissions:
#   contents: read
#   pull-requests: write

on:
  issue_comment:
    types: [created]
    # FYI this is a branchless event/trigger, so make sure the workflow is in the default branch and all edits happen there

jobs:
  review:
    if: startsWith(github.event.comment.body, '/review')
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ toJson(vars) }}" # debug
      - uses: ca-dp/code-butler@v1
        with:
          # model param vs env var to pass secrets
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          cmd: review # ingore warning about invalid arg
          model: ${{ vars.BUTLER_MODEL }}
          # *** model: gpt-4-1106-preview # this model (currently) gives the best results b/c what it sends is more detailed than with other models (so keep this one)
          # lang: ja
  chat:
    if: startsWith(github.event.comment.body, '/chat')
    runs-on: ubuntu-latest
    steps:
      - uses: ca-dp/code-butler@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          cmd: chat # ingore warning about invalid arg
          comment_body: ${{ github.event.comment.body }}
          model: ${{ vars.BUTLER_MODEL }}
          # lang: ja
